<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="INSYSMaintenanceBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
        </exclude>
    </source>

    <php>
        <server name="ROOT_DIR" value="../../../../.." />
    </php>
</phpunit>
